<div class="container">
  <div class="table-responsive">
    <table class="table table-striped" *ngIf="dataSource else loading">
      <thead class="table-dark">
        <tr>
          <ng-container *ngFor="let th of schema ">
            <th>{{th.header}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSource">
          <td *ngFor="let cell of schema; index as i">
            <ng-container *ngComponentOutlet="getComponent(cell.def);injector: getInjector(data,cell)"></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    Loading...
  </ng-template>

</div>
